body
{
    margin:		0 auto 0 250pt;
    max-width:	600pt;
    background:	#FFF;
    padding:	0 10pt 0 0;
    font-family: "Cantarell", "Verdana", sans-serif;
    /* font-family: "Bitstream Charter"; */
    font-size: 14pt;
}

p {
    text-align: justify;
}

a {
    color: #333;
    text-decoration: none;
}

#TOC
{
    font-size: 10pt;
    position: fixed;
    top: 0pt;
    left: 0pt;
    bottom: 0pt;
    background: rgb(0, 0, 0);
    border-right: solid thin rgb(255, 255, 255);
    padding: 20pt;
    padding-right: 25pt;
    width: 150pt;
    color: #FFF;
}

#TOC a {
    color: #eee;
}

#TOC ul {
    padding: 3pt 0 3pt 10pt;
}

code
{
    font-family: Courier, monospace;
}

.sourceCode
{
    font-size: 10pt;
    border: solid thin black;
    border-radius: 5pt;
    background: #eee;
    padding: 10pt;

    width: 40em;
    position: relative;
    left: 25pt;
}

.sourceCode pre, .sourceCode code
{
    padding: unset;
    background: none;
    border: none;
    width: unset;
    left: unset;
}

figure 
{
    border: solid thin black;
    border-radius: 5pt;
    padding: 10pt;
}

figcaption
{
    font-style: italic;
}

figure img
{
    width: 100%;
}
